---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Membership">
    <h2 class="text-4xl text-center font-extrabold text-gray-800 my-8">
        New Members
    </h2>
    <p>
        For all new members signing up for the club, the membership registration
        form can be found <a
            class="hover:underline font-bold text-[#da2c26] uppercase"
            href="https://docs.google.com/forms/d/e/1FAIpQLScUajiQLHLytxEFZMdExswSICgpvku2LwMBTo_ylW7IkLwQ8g/viewform"
            >here</a
        >. Please do not submit multiple responses or enter any incorrect or
        false information. Contact our secretary if you are having difficulty
        with completing or submitting the form.
    </p>
    <br />
    <h2 class="text-2xl font-extrabold text-gray-800">Banking Details</h2>
    <p>
        Below are the banking details for members who have already registered.
        Annual fees are R240 for Juniors (Under 18) and R300 for Seniors (Over
        18). Members can make an EFT payment into our club bank account with the
        details below.
    </p>
    <br />
    <div>Standard Bank</div>
    <div>Hermanus Chess Club</div>
    <div>Branch Code: 051001</div>
    <div>Account Number: 10192089682</div>
    <div>Account Type: Current</div>
    <br />
    <p>
        Proof of payment can be sent to <a
            class="hover:underline text-[#da2c26]"
            href="mailto:martin.brink72@gmail.com">martin.brink72@gmail.com</a
        >. Please use your name and surname as reference.
    </p>
</Layout>
